@model NotEduWeb.Models.Notes
@using NotEduWeb.Tools
@{
    ViewBag.Title = "Delete";
}

<div class="deletepage">
    <h2>Suppression d'une note</h2>
    <div class="box">
        <h3>Etes-vous sûr de vouloir supprimer ceci ?</h3>
        <div class="delete-item">
            <p><span class="item-title">@Html.DisplayNameFor(model => model.valeur) :</span> @Html.DisplayFor(model => model.valeur) / 20</p>
            <p>
                <span class="item-title">
                    @Html.DisplayNameFor(model => model.appreciation) :
                </span>  @Html.DisplayFor(model => model.appreciation)
            </p>
            <p>
                <span class="item-title">
                    @Html.DisplayNameFor(model => model.Cours.nom) :
                </span>  @Html.DisplayFor(model => model.Cours.nom)
            </p>
            <p>
                <span class="item-title">
                    @Html.DisplayNameFor(model => model.Eleves.nom) :
                </span>  @Html.ActionLink(Utilities.GetNomCompletUser(Model.Eleves), "Details", "Eleves", new { id = Model.fk_note_eleve }, new { @class = "user-link" })

            </p>
            <p>
                <span class="item-title">Promotion :</span>  @Model.Eleves.Promotions.annee - @Model.Eleves.Promotions.nom
            </p>
        </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="editpage-buttons">
                    <a class="btn btn-transparent" href="@Url.Action("Index")">Retour à la liste</a>
                    <input type="submit" value="Supprimer" class="btn btn-warning" />
                </div>
            }
        </div>
    </div>
