@model NotEduWeb.Models.Cours

@{
    ViewBag.Title = "Details";
}


<div class="detailspage">


    <h2>Détails du cours</h2>

    <div class="box">
        <p><span class="item-title">@Html.DisplayNameFor(model => model.nom) :</span> @Html.DisplayFor(model => model.nom)</p>

        <div class="editpage-buttons">
            <a class="btn btn-transparent" href="@Url.Action("Index")">Retour à la liste</a>
            <a href="@Url.Action("Edit", "Cours", new { id = Model.ID_cours })"  class="btn btn-secondary">Editer</a>
        </div>
    </div>
    <div class="box">
        <h3>Moyennes du cours par promotion</h3>
        @if(ViewBag.MoyennesPromos.Count > 0)
        {
            foreach (var item in ViewBag.MoyennesPromos)
            {
                <div class="moyenne-promo">
                    <a href="@Url.Action("Details", "Promotions", new { id = item.PromotionID })">@item.Annee - @item.Promotion</a>
                    <div>@string.Format("{0:N2}", item.Moyenne) / 20</div>
                </div>
            }
        } else
        {
                <p>Aucune donnée à afficher pour le moment.</p>
            }
    </div>
</div>